VITE_SUPABASE_URL=https://your-project-url.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=cbogineni@gmail.com
SMTP_PASS=zmel ckmu jfqn pqwc
APP_URL=https://ais-dev-7jtw64vzz42aknybbz4z46-457205007868.asia-east1.run.app
